{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Content Based Video Retrieval</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>

<body>
    <div class="body">
        <h1>Content Based Video Retrieval <br/> Using Video Text Information</h1>
        <div class="wrapper">
            <form action="{% url "app:search" %}">
                <input class="search" name="toSearch" type="text" id="search" />
                <input  type="submit"
                    style="cursor: pointer;
                    border: none;
                    background: url('{% static 'img/search-icon-white-png-540.png' %}') no-repeat center center, #1E1E20;
                    background-size: 35px 35px;
                    border-radius: 0 20px 20px 0;
                    padding: 15px 25px;
                    display: inline-block;
                    width: 150px;
                    height: 80px;" 
                value="" />
            </form>       
        </div>
        <div>
            <h2>You have searched for: {{toSearch}}</h2>
            <table width="100%" border="1">
                {% comment %} <tr><th>Results</th></tr> {% endcomment %}
                <tr>
                    <th>Title</th>
                    <th>Link To The Video</th>
                    <th>Count of the searched item</th>
                </tr>
                <hr> 
                {% for video in videos %}
                <tr align="center">
                    <td>{{video.video.title}}</td>
                    <td><a style="color: black;" href="{{video.video.videoFile.url}}">Open This Video</a></td>
                    <td>{{video.count}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>

</body>

</html>